<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= title %></title>
</head>
<body>
  <header>
    <nav>
      <a href="/" class="logo">My Todo List</a>
      <div class="links">
        <% if(user) {%>
          <a href="/todo"> <%= user.nama %></a>
          <a href="/user/logout">logout</a>
          <%} else {%>
            <a href="/login">Login</a>
            <a href="/todo">Create todo list</a>
        <% } %>
      </div>
    </nav>
  </header>
  <main>


    <%- body %>

  </main>
    <script src="/js/script.js"></script>
  </body>
  </html>