body {
  font-family: 'Poppins', sans-serif;
}
.selesai {
  background-color: #15fd34c2;
}
.belum {
  background-color: #fbc81fc9;
}
@media screen and(max-width: 576px){
  body {
    font-size: 14px;
  }
  .jumbotron {
    > h2 {
      font-size: 24px;
    }
    > p {
      font-size: 14px;
    }
    > a {
      font-size: 14px;
    }
  }
  table.table {
    font-size: 10px;
  }
}
td.actions {
  display: flex;
  justify-content: space-between;
}