  <div class="banner">
    <h1>Make your Live Easier</h1>
    <p>Create your Todo List Now</p>
    <% if(user){ %>
      <a href="/todo">create todo list</a>
      <%} else{ %>
    <a href="/login">Login</a>
    <%}%>
  </div>

