
<div class="form-container">
  <h1>Login</h1>
  <form id="login" action="/user/login" method="POST">
    <%- include('../partials/flash_msg') %>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">Sign In</button>
    <p>belum punya akun? <a href="/daftar">daftar</a></p>
  </form>
</div>
